h1 {
  color: yellow;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: grid;
  place-items: initial;
}

p {
  color: rgb(255, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

html {
  background-color: black;
}

.contenedor {
  display: grid;
  justify-items: center;
  flex-direction: center;
  text-align: center;
  align-items: center;
}
